:root[data-theme="light"] :is(h1, h2, h3, h4, h5, h6) {
    color: var(--light-color-text-header);
}

:root[data-theme="dark"] :is(h1, h2, h3, h4, h5, h6) {
    color: var(--dark-color-text-header);
}

@media (prefers-color-scheme: light) {
    :root[data-theme="os"] :is(h1, h2, h3, h4, h5, h6) {
        color: var(--light-color-text-header);
    }
}

@media (prefers-color-scheme: dark) {
    :root[data-theme="os"] :is(h1, h2, h3, h4, h5, h6) {
        color: var(--dark-color-text-header);
    }
}
