.tsd-typography table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--color-accent);
    border-radius: var(--radius);
    overflow: hidden;
}

.tsd-typography th,
.tsd-typography td {
    border: none;
    padding: 0.6rem 1rem;
}

.tsd-typography tr > * + * {
    border-left: 1px solid var(--color-accent);
}

.tsd-typography thead :is(th, td) {
    border-bottom: 1px solid var(--color-accent);
}

.tsd-typography tr + tr > :is(th, td) {
    border-top: 1px solid var(--color-accent);
}

.tsd-typography tr:nth-child(even) {
    background-color: color-mix(
        in srgb,
        var(--color-background-secondary) 35%,
        transparent
    );
}
